<%= render 'nav' %>
<!--<%= link_to "My Blog", controller: "posts" %>-->
	<script>
	$(document).ready(function(){
	//alert('nekaj');
	});
	</script>			
	
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Postovi</h3>
  </div>
  <div class="panel-body">
	<%= link_to 'Novi post', new_post_path, :class => 'btn btn-primary' %>
  </div>
	<!--Table postova 
	<table class="table">
	  <tr>
		<th>Title</th>
		<th>Text</th>
	  </tr>
	 
	  <% @posts.each do |post| %>
		<tr>
		  <td><%= post.title %></td>
		  <td><%= post.text %></td>
		  <td><%= post.email %></td>
		</tr>
	  <% end %>
	</table>-->

		<table class="table table-striped">
		  <tr>

			<th>Naslov</th>
			<th>Tekst</th>
			<th>Mail</th>
			<th>Datum kreiranja</th>
			<th>Datum izmjene</th>
			<th></th>
			<th></th>
			<th></th>
		  </tr>
			<% @posts.each do |post| %>
		  <tr>
			<td><%= post.title %></td>
			<td><%= post.text %></td>
			<td><%= post.email %></td>
			<td><%= post.created_at.strftime("%d.%m.%Y. %H:%M:%S") %></td>
			<td><%= post.updated_at.strftime("%d.%m.%Y. %H:%M:%S") %></td>			
			<td><%= link_to 'Prikaži', post, :class => 'btn btn-default' %></td>
			<td><%= link_to 'Izmjeni', edit_post_path(post),:class => 'btn btn-default'  %></td>
			<td><%= link_to 'Obriši', post_path(post),:class => 'btn btn-danger',
							method: :delete, data: { confirm: 'Da li ste sigurni?' } %></td>
		  </tr>
		<% end %>
		</table>
	</div> 
		<%= render 'footer' %>
		

	